

:root {
    padding: 0;
    margin: 0;

    color-scheme: dark;
}


.background {
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;
}


.center {
    display: grid;
    justify-content: center;
    align-content: center;
}

.content {
    padding: 0 1em 0 1em;
    border-bottom: 5px solid darkslategrey;
    border-right: 5px solid darkslategray;
    border-radius: 0.2em;
    background-color: gray;
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

div.content:hover {
    background-color: blueviolet;
}


header {
    background-color: blue;
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 40px;
    padding: 0.2em;
}


div.logo {
    display: block;
    background-color: black;
    font-size: 1em;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-radius: 0.16em;
    
    padding: 0.2em;

    text-align: center;
}

/* footer setup */

footer {
    background-color: violet;
    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 40px;
    padding: 0.2em 0 0.2em 5em;

    color: black;

}

.console-font {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 12px;
}

a.account {
    background-color: black;
    color: white;

    padding: 4px;
    border-radius: 5px;
}
